<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/product.css" />
  </head>

  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item"><a class="active" href="/">Shop</a></li>
          <li class="main-header__item">
            <a href="/admin/add-product">Add Product</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <h1>My Products</h1>
      <!-- <p>List of all the products...</p> -->

      <% if(prods.length>0) {%>
      <div class="grid">
        <% for(let product of prods) { %>
        <article class="card product-item">
          <header class="card__header">
            <h1 class="product__title"><%= product.title%></h1>
          </header>
          <div class="card__image">
            <img
              src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fdictionary.cambridge.org%2Fes-LA%2Fimages%2Fthumb%2Fbook_noun_001_01679.jpg%3Fversion%3D5.0.74&imgrefurl=https%3A%2F%2Fdictionary.cambridge.org%2Fes-LA%2Fdictionary%2Fenglish%2Fbook&tbnid=35Su7QK-1hGk1M&vet=12ahUKEwjJ1uT3t8joAhUM1IUKHVreBNoQMygZegQIARBn..i&docid=fG76xq89mHWw4M&w=200&h=200&q=book&safe=active&ved=2ahUKEwjJ1uT3t8joAhUM1IUKHVreBNoQMygZegQIARBn"
              alt="A Book"
            />
          </div>
          <div class="card__content">
            <h2 class="product__price">$19.99</h2>
            <p class="product__description">
              A very interesting book about so many even more interesting
              things!
            </p>
          </div>
          <div class="card__actions">
            <button class="btn">Add to Cart</button>
          </div>
        </article>
        <%}%>
      </div>
      <% } else {%>

      <h4>No product</h4>
      <%}%>
    </main>
  </body>
</html>
